* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

.borderProduto {
    background-color: #860016;
    height: 8%;
    margin-top: 10px;
}

.border {
    animation: bordercolor 5s linear infinite;
    height: 10px;
    margin-top: 10px;
}

header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    height: 6%;
    background-color: rgb(29, 29, 29);
}

.containerUsuario {
    MARGIN position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.opcaoUsuario {
    display: none;
    position: relative;
}

.itemU {
    list-style: none;
    display: none;
}

.opcaoUsuario:hover {
    display: block;
}

.pesquisa {
    position: relative;
    top: 15%;
    left: 18%;
    width: 23%;
    height: 90%;
    padding: 4px 13px;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border: 1px solid #860016;
    font-size: medium;
}

.containerLogo {
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
}

.nameLogo {
    position: relative;
    top: 15%;
    left: 5%;
    color: #860016;
    font-family: 'Asap', sans-serif;
    font-family: 'Sigmar', cursive;
    font-size: 26px;
}

.logo {
    position: relative;
    margin-top: 4px;
}

.imagLogo {
    width: 110%;
    height: 100%;
}

.containerCatg {
    position: relative;
    top: 35%;
    height: 27px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
}

.barraMenu {
    width: 45%;
    height: 90px;
}

.containerCatg ul {
    position: absolute;
    list-style: none;
    background-color: whitesmoke;
    width: 250px;
    top: 40px;
}

.containerMenu p {
    padding-left: 25%;
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: whitesmoke;
    cursor: context-menu;
    box-shadow: 0px 12px 34px -13px #000;
}

.containerMenu a {
    text-decoration: none;
    color: #000;
}

.containerMenu li {
    padding: 10px;
}

.containerMenu li:hover {
    background-color: rgba(98, 102, 105, 0.904);
}

.containerMenu {
    font-family: 'Asap', sans-serif;
    font-size: medium;
    display: none;
}

.containerCatg:hover ul {
    display: block;
}

.popup {
    position: relative;
    margin: 0 auto;
    top: 65%;
    width: 15%;
    height: 150px;
    border-radius: 5%;
    background-color: whitesmoke;
    display: none;
    z-index: 1;
}

.buttonAbrir {
    position: relative;
    left: 25%;
    top: 20%;
    width: 3%;
    height: 60%;
}

.buttonfechar {
    position: relative;
    left: 90%;
    top: 5%;
    font-size: large;
    background-color: transparent;
    border: transparent;
    color: #860016;
    cursor: pointer;
}

.login {
    position: relative;
    margin-left: 2%;
    top: 25%;
    background-color: silver;
    border-radius: 5%;
    font-size: 18px;
    width: 100px;
    padding: 5px 20px;
    text-decoration: none;
    color: #860016;
}

.logincadastro {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.containerBody {
    margin: 10% auto;
    width: 60%;
    height: 100ch;
    background-color: rgb(34, 34, 34);
}

.banner {
    position: relative;
    top: 4%;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    color: white;
    background-color: #860016;
    text-align: center;
}

.slideProdutos {
    position: relative;
    display: block;
    top: 18%;
    left: 5%;
    width: 90%;
    color: white;
}

.produto {
    margin-right: 10px;
    background-color: silver;
    text-align: center;
    border: 1px solid black;
}

@keyframes bordercolor {
    0% {
        background-color: rgb(238, 61, 144);
    }
    10% {
        background-color: #e4054f;
    }
    20% {
        background-color: #ec1633;
    }
    30% {
        background-color: #860016;
    }
    50% {
        background-color: #570206;
    }
    60% {
        background-color: #941802;
    }
    70% {
        background-color: #d34114;
    }
    80% {
        background-color: #f84235;
    }
    90% {
        background-color: #e2b900;
    }
    95% {
        background-color: rgb(253, 174, 100);
    }
    100% {
        background-color: #e4054f;
    }
}