* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

.border {
    animation: bordercolor 5s linear infinite;
    height: 10px;
    margin-top: 10px;

}

header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    height: 6%;
    background-color: rgb(29, 29, 29);
}

.pesquisa {
    position: relative;
    top: 15%;
    left: 30%;
    width: 23%;
    height: 60%;
    padding: 4px 13px;
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border: 1px solid #860016;
    font-size: medium;

}

.containerLogo {
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    

}
.nameLogo{
    position: relative;
    top: 15%;
    left: 5%;
    color: #860016;
    font-family: 'Asap', sans-serif;
    font-family: 'Sigmar', cursive;
    font-size: 26px;


}

.logo {

    position: relative;
    margin-top: 4px;


}

.imagLogo {
    width: 110%;
    height: 100%;
}

.containerCatg{
    position: relative;
    top: 35%;
    left: 5%;
    height: 27px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
   
}
.barraMenu{
    width: 40px;
    height: 90px;
}

 
.containerCatg ul{
    position: absolute;
    list-style: none;
    background-color: whitesmoke;
    width: 250px;
    top: 40px;
}

.containerMenu p{

    padding-left: 25%;
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: whitesmoke;
    cursor: context-menu;
    box-shadow: 0px 12px 34px -13px #000;
}

.containerMenu a{
    text-decoration: none;
    color: #000;
}
.containerMenu li{
   
    padding: 10px; 
}

.containerMenu li:hover{
    background-color: rgba(98, 102, 105, 0.904);
}

.containerMenu{

    font-family: 'Asap', sans-serif;
    font-size: medium;
    display: none;
}

.containerCatg:hover ul{
    
    display: block;

}


.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 15px;
    border-radius: 5%;
    background-color: rgb(41, 41, 41);
    display: none;
}

.buttonfechar {
    position: relative;
    left: 380px;
    padding: 2px;
    font-size: large;
    background-color: transparent;
    border: transparent;
    color: #860016;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.buttonfechar:hover {
    background-color: rgba(99, 98, 98, 0.26);
}

.login {
    position: relative;
    margin-left: 2%;
    top: 25%;
    background-color: silver;
    border-radius: 5%;
    font-size: 18px;
    width: 100px;
    padding: 5px 20px;
    text-decoration: none;
    color: #860016;
}

.logincadastro {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}


@keyframes bordercolor {
    0% {
        background-color: rgb(238, 61, 144);
    }

    10% {
        background-color: #e4054f;
    }

    20% {
        background-color: #ec1633;
    }

    30% {
        background-color: #860016;
    }

    50% {
        background-color: #570206;
    }

    60% {
        background-color: #941802;
    }

    70% {
        background-color: #d34114;
    }

    80% {
        background-color: #f84235;
    }

    90% {
        background-color: #e2b900;
    }

    95% {
        background-color: rgb(253, 174, 100);
    }

    100% {
        background-color: #e4054f;
    }
}