.cop{
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 20px;
}

.listaProduto{
    margin-left: 350px;
    display: grid;
    position: relative;
    gap: 50px 100px;
    width: 100px;
    grid-template-columns: auto auto auto;
    padding: 13px;
}
.menuLateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 400px;
    padding: 5px;
    background-color: rgb(66, 65, 65);
    border-radius: 10px;
}
.subProduto{
    background-color: rgb(66, 65, 65);
    width: 210px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.subProduto img{
    border-radius: 5px;

}