* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1903px;
    height: 100vh;
    width: 1920;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

/* alternar o site de acordo com a resolucao  */

@media screen and (max-width: 1902px) {
    body {
        width: 1349px;
    }
}

/* \\div com efeito rainbow// */
.border {
    width: 100%;
    animation: bordercolor 5s linear infinite;
    height: 10px;
    margin-top: 10px;
}

/* \\conteiner Topo// */
header {
    padding: 1%;
    display: flex;
    flex-direction: row;
    height: 6%;
    background-color: rgb(29, 29, 29);
}

/* \\Barra de pesquisa// */
.pesquisa {
    position: relative;
    top: 20%;
    left: 22%;
    width: 23%;
    height: 90%;
    padding: 4px 13px;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border: 1px solid #860016;
    font-size: medium;
    outline: 0;
}

::placeholder {
    color: whitesmoke;
}

/* \\imagen da logo// */
.containerLogo {
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    cursor: context-menu;
}

.nameLogo {
    position: relative;
    top: 15%;
    left: 5%;
    color: #860016;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}

.logo {
    position: relative;
    margin-top: 4px;
}

.imagLogo {
    width: 110%;
    height: 100%;
    cursor: context-menu;
}

/* \\barra de menu para categorias// */
.containerCatg {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20%;
    left: 3%;
    height: 27px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.barraMenu {
    width: 38%;
    height: 90px;
}

.containerCatg ul {
    position: relative;
    list-style: none;
    background-color: rgba(53, 52, 52, 0.774);
    width: 135%;
    right: 20%;
    top: 20px;
}

.containerMenu p {
    padding-left: 16%;
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: rgb(53, 52, 52);
    cursor: context-menu;
    box-shadow: 0px 12px 34px -13px #000;
    color: whitesmoke;
}

.containerMenu a {
    text-decoration: none;
    color: whitesmoke;
}

.containerMenu li {
    padding: 10px;
}

.containerMenu li:hover {
    background-color: rgb(98, 102, 105);
    border-radius: 5px;
}

.containerMenu {
    font-family: 'Asap', sans-serif;
    font-size: medium;
    display: none;
}


.containerCatg:hover ul {
    
    border-radius: 5px;
    animation-duration: 400ms ;
    animation-fill-mode: forwards;
    animation-name: slideleft;
    display: block;
    }
    @keyframes slideleft{
        0%{
            opacity: 0;
        }
        from{
            right: 100Px;
        }
        50%{
            opacity: 0.5;
        }
        to{
            left: -50px;
        }
        100%{
            opacity: 1;
        }
    }
/* \\login e cadastro// */
.containerUsuario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: none;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 30%;
    top: 20%;
    z-index: 1;
    color: whitesmoke;
    padding-bottom: 100px;
}

.menuUsuario {
    position: relative;
    top: 20px;
    right: 20%;
    list-style: none;
    background-color: rgb(53, 52, 52);
    width: 140%;
}

.containerUsuario a {
    text-decoration: none;
    color: whitesmoke;
}

.containerUsuario li {
    padding: 10px;
}

.containerUsuario li:hover {
    background-color: rgb(98, 102, 105);
    border-radius: 5px;
}

.containerUsuario ul {
    display: none;
    border-radius: 5px;
}

@keyframes slidebottom{
    0%{
        opacity: 0;
    }
    from{
        top: 100Px;
    }
    50%{
        opacity: 0.5;
    }
    to{
        bottom: -100px;
    }
    100%{
        opacity: 1;
    }
}


.containerUsuario:hover ul {
    animation-duration: 300ms;
    animation-name: slidebottom;
    display: block;
}


/* \\container produtos centro// */
a{
    text-decoration: none;
}
.containerBody {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    width: 70%;
    height: 300ch;
    background-color: rgb(34, 34, 34);
}

.borderProduto {
    background-color: rgb(56, 54, 54);
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
    border-bottom: 5px solid #860016;
    color: whitesmoke;
}
.borderProduto img{
    position: relative;
    bottom: 10px;
    width: 70px;
    height: 70px;
}
.borderProduto strong{
    position: relative;
    top: 6px;
    font-size: xx-large;
}

.borderDep{
    position: relative;
    top: 240px;
}
.borderDep strong{
    position: relative;
    bottom: 10px;
    font-size: x-large;
    color: whitesmoke;
}

.borderDep img{
    height: 50px;
    width: 50px;
}

.departamentos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 300px;
    font-size: x-large;
    cursor: pointer;
}
.departamentos div{
    text-align: center;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.departamentos div a{
    text-decoration: none;
    color: #860016;
}

.departamentos div:hover{
    transform: scale(1.1, 1.1);
}

.borderVendidos{
    position: relative;
    top: 400px;
}
.borderVendidos img{
    position: relative;
    right: 20px;
    width: 90px;

}
.borderVendidos strong{
    position: relative;
    bottom: 30px;
    right: 40px;
    font-size: x-large;
    color: whitesmoke;
}
.grid-produtos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px 30px;
    position: relative;
    top: 480px;
    left: 26px;
}
.grid-produtos div{
    width: 250px;
    background-color: rgb(56, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
}
.grid-produtos img{
    margin-left: 12px;
    padding: 10px;
}
.buttonBot{
    margin-left: 6px;
    margin-top: 40px;
    width: 95%;
    height: 30px ;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    transition:  0.2s ease-in-out;
    border-radius: 10px;
}
.buttonBot:hover{
    transform: scale(1.05, 1.0);
    background-color: #860016;
    border-radius: 0;
}


/* \\slcik// */

.produto img {
    position: relative;
    margin: 0 auto;
    width: 160px;
    background-color: #000;
}

.efeito {
    
    margin-top: 50px;
    width: 100%;
    height: 30px ;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    transition:  0.4s ease-in-out;
    border-radius: 10px;
}

.efeito:hover{
    transform: scale(1.12, 1.16);
    border-radius: 0;
    border: 0;
    background-color: #860016;
    color: whitesmoke;
    
}

.banner {
    position: relative;
    top: 10%;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    color: white;
    justify-content: center;
}

.slideProdutos {
    position: relative;
    display: block;
    top: 5%;
    left: 4%;
    width: 92%;
    color: white;
}

.produto {
    margin-right: 10px;
    background-color: rgb(56, 54, 54);
    text-align: center;
    border: 0;
    padding: 10px;
    text-overflow: ellipsis;
    text-align: left;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease-in-out;
}
.produto:hover{
    transform: scale(1.04);
    box-shadow: 0px 10px 37px 10px rgba(0,0,0,0.2);
}

.nomeProduto {position: relative;
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;
    font-size: 20px;
    height: 50px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.precoProduto{
    position: relative;
    margin-top: 30px;
    color: #860016;
    padding-bottom: 2px;
    margin-left: 15px;
    font-size: 25px;
}

.slick-dots li button:before {
    color: whitesmoke !important;
}

.slick-dots li.slick-active button:before {
    color: whitesmoke !important;
}

.slick-dots {
    bottom: 20px !important;
}

@media screen and (max-width: 1902px) {
    .slick-dots {
        bottom: -5px !important;
    }

}

/* keyframe para efeito rainbow */

@keyframes bordercolor {
    0% {
        background-color: rgb(238, 61, 144);
    }

    10% {
        background-color: #e4054f;
    }

    20% {
        background-color: #ec1633;
    }

    30% {
        background-color: #860016;
    }

    50% {
        background-color: #570206;
    }

    60% {
        background-color: #941802;
    }

    70% {
        background-color: #d34114;
    }

    80% {
        background-color: #f84235;
    }

    90% {
        background-color: #e2b900;
    }

    95% {
        background-color: rgb(253, 174, 100);
    }

    100% {
        background-color: #e4054f;
    }
}